@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');


body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #1d1d1d;
    font-family: "Fira Mono", monospace;
}

header {
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

header .container img{
    height: 100px;
    width: 100px;;
    margin: 10px;
}

nav {
    margin: 0;
    /* background: linear-gradient(to right, rgba(7, 0, 15, 0.2), rgba(35, 35, 35, 0.8)); */
    width: 100%;
    padding: 20px 20px; 
    box-sizing: border-box; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin: 0 10px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Fira Mono", monospace;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #a9ff27;
}


section {
    position: relative;
    padding: 2rem;
    overflow: hidden;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #131212;

}

 #skills{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #131212;
}

/* ----------------------------HOME---------------------------------------------- */
.intro {
    text-align: center;
    padding: 40px 20px;
    z-index: 9999;
    margin-top: -15%;
    
}

.intro h1 {
    font-size: 7em;
    margin: 0;
    color: #a9ff27;
    display: flex;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    border-right: .10em solid rgb(0, 255, 21);
    margin: 0 auto;
    animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
    animation-fill-mode: forwards;
}

.intro p {
    font-size: 1.5em;
    margin: 20px 0;
    font-family: "Lexend Exa", sans-serif;
}

.intro .btn {
    display: inline-block;
    margin-top:40px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #a9ff27;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: solid 1px #a9ff27;
    font-family: "Fira Mono", monospace;
}

.intro .btn:hover {
    background:#a9ff27;
    color:  #150036;
}

/* The typing effect */
@keyframes typewriter {
    0% { width:0 }
    25% { width: 100% }
    48% { width: 40% }
    50% { width: 40% }
    55% { width: 40% }
    75% { width: 40%; }
    85% { width: 40%; }
    100% { width: 0; }
  }
  
  @keyframes blinking-cursor {
    from { border-color: transparent }
    to { border-color: rgb(0, 115, 255) }
  }

/* Responsive Styles */
@media (max-width: 1200px) {
    .intro {
        padding: 40px 15px;
    }

    .intro h1 {
        font-size: 2.5em;
    }

    .intro p {
        font-size: 1.3em;
    }

    .intro .btn {
        padding: 8px 18px;
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 30px 10px;
    }

    .intro h1 {
        font-size: 2em;
    }

    .intro p {
        font-size: 1.1em;
    }

    .intro .btn {
        padding: 7px 16px;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .intro {
        padding: 20px 5px;
    }

    .intro h1 {
        font-size: 1.5em;
    }

    .intro p {
        font-size: 1em;
    }

    .intro .btn {
        padding: 6px 14px;
        font-size: 0.9em;
    }
}
/* -------------------------------------------------------------------------- */
#about {
    padding: 50px 20px;
    background-color: #f9f9f9;
    /* height: auto; */
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}

.aboutTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: "Chakra Petch", sans-serif;
}

.abTitle {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.about-contents {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    z-index: 9999;
}

.about-contents img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    z-index:9999;
}

.about-text {
    font-size: 1.2em;
    display: flex;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Chakra Petch", sans-serif;
    z-index:9999;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    #about {
        padding: 40px 15px;
    }

    .abTitle {
        font-size: 2em;
    }

    .about-text {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    #about {
        padding: 30px 10px;
    }

    .abTitle {
        font-size: 1.8em;
    }

    .about-text {
        font-size: 1em;
    }

    .about-contents {
        flex-direction: column;
    }

    .about-contents img {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    #about {
        padding: 20px 5px;
    }

    .abTitle {
        font-size: 1.5em;
    }

    .about-text {
        font-size: 0.9em;
    }

    .about-contents img {
        width: 100%;
        margin-bottom: 10px;
    }
}
/* -------------------------------------- */
.skills-container {
    text-align: center;
    max-width: 1200px;
    z-index: 1;
    margin-top: -15%;
    align-items: center;
    justify-content: center;
}
.skillTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 0;
}

.skillTitle h2 {
    margin-top: 25%;
    position: relative;
    font-size: 8vw;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
}
.skillTitle h2::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: #a9ff27;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #a9ff27;
    overflow: hidden;
    animation: animate 7s linear infinite;
}


.allSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: -80px; */
    gap: 20px;
}

.allSkills .card img{
    height: 140px;
    width: 140px;
    margin-top: 10px;
}

.allSkills .card {
    background-color: #222222;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 280px;
    align-items: center;
    transition: all 500ms ease-in-out;
}

.allSkills .card:hover {
    transform: translateY(-25px); 
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22);
}
.progress-text {
    margin-top:25px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    /* margin-bottom: 10px; */
}

.progress-bar {
    margin-top:25px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress1 {
    height: 100%;
    width: 80%; 
    background-color: #a9ff27;
}

.progress2 {
    height: 100%;
    width: 85%; 
    background-color:#a9ff27;
}

.progress3 {
    height: 100%;
    width: 90%; 
    background-color: #a9ff27;
}

.progress-text {
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.stack-container {
    margin-top: 20px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.skill {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 50px 20px;
    font-family: "Fira Mono", monospace;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Fira Mono", monospace;
}

.skill:hover{
    color: #000;
    background-color: #a9ff27;
}

/* ------------------------- */





























.projectTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 0;
}

.contactTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 0;
}

.aboutTitle h2 {
    position: relative;
    font-size: 8vw;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
}
.aboutTitle h2::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: #a9ff27;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #a9ff27;;
    overflow: hidden;
    animation: animate 7s linear infinite;
}


.projectTitle h2 {
    margin-top: 2%;
    position: relative;
    font-size: 8vw;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
}
.projectTitle h2::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: #a9ff27;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #a9ff27;
    overflow: hidden;
    animation: animate 7s linear infinite;
}

.big-contact-cont{
    justify-content: center;
}



.contactTitle h2 {
    margin-top: 2%;
    margin-bottom: 0;
    position: relative;
    font-size: 6vw;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
}
.contactTitle h2::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: #a9ff27;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #a9ff27;
    overflow: hidden;
    animation: animate 7s linear infinite;
}


@keyframes animate {
    0% ,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

/* Background circles */
.circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
    animation: move 20s infinite;
}

@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

.circle1 {
    height: 200px;
    width: 200px;
    background-image: radial-gradient( #42C53F,#42C53F );
    position: absolute;
    top: -20%;
    left: 15%;
    z-index: 0;
    animation: down 20s infinite;
}

@keyframes down {
    0%, 100%{
        top: -100px;

    }
    70%{
        top:700px;
    }
    
}

@keyframes up {
    0%, 100%{
        bottom: 100px;

    }
    70%{
        bottom:700px;
    }
    
}

@keyframes left {
    0%, 100%{
        left: -100px;

    }
    70%{
        left:1300px;
    }
    
}

@keyframes right {
    0%, 100%{
        right: -100px;

    }
    70%{
        right:1300px;
    }
    
}


.circle2 {
    width: 400px;
    height: 400px;
    background-image: radial-gradient(#ffda0a, #FF9900);
    /* top: 60%;
    right: -10%; */
    animation: up 20s infinite;
}



.circle3 {
    width: 250px;
    height: 250px;
    background-image: radial-gradient(#FD89FF, #6825F6);
    bottom: 5%;
    right: 80%;
    animation: left 20s infinite;
   
}

.circle31 {
    width: 350px;
    height: 350px;
    background-image: radial-gradient(#42C53F, #000AFF);
    top: 10%;
    /* left: 85%; */
    animation: right 20s infinite;
}

.circle32 {
    width: 350px;
    height: 350px;
    background-image: radial-gradient(#42C53F, #000AFF);
    /* top: 10%; */
    left: 85%;
    animation: up 20s infinite;
}

.circle4 {
    width: 300px;
    height: 300px;
    background: rgba(255, 165, 0, 0.3);
    top: 10%;
    left: 25%;

}

.circle5 {
    width: 400px;
    height: 400px;
    background: rgba(75, 0, 130, 0.3);
    bottom: 10%;
    right: 15%;
    animation-duration: 24s;
    animation-direction: alternate-reverse;
}

.circle6 {
    width: 350px;
    height: 350px;
    background: rgba(238, 130, 238, 0.3);
    top: 20%;
    right: 20%;
    animation: right 20s infinite;
}

.circle7 {
    width: 300px;
    height: 300px;
    background: rgba(0, 255, 127, 0.3);
    bottom: 15%;
    left: 35%;
    animation: left 20s infinite;
}
.circle8 {
    width: 850px;
    height: 900px;
    background-image: radial-gradient(#42C53F, #3104f8);
    position: absolute;
    left: 20%;
    z-index: -1;
    animation: up 20s infinite;
}

.circle81 {
    width: 500px;
    height: 700px;
    background-image: radial-gradient(#42C53F, #04e8f8);
    position: absolute;
    left: 20%;
    z-index: -1;
    animation: down 20s infinite;
}

.circle10 {
    width: 450px;
    height: 550px;
    background-image: radial-gradient(#22ffd3, #6825F6);
    position: absolute;
    top: 70%;
    /* left: 50%; */
    z-index: -1;
    animation: left 20s infinite;
}
.circle11 {
    width: 650px;
    height: 750px;
    background-image: radial-gradient(#42C53F, #11fc9a);
    position: absolute;
    top: 40%;
    right: -10%;
    animation: right 20s infinite;
    z-index: -1;
}


/* Projects Section */
#projects {
    padding: 40px 0px;
    text-align: center;
}

.bigger-cont {
    margin-top: -50px;
    padding: 0;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.project-container .card {
    flex: 1 0 300px;
    position: relative;
    cursor: pointer;
}

.project-container .card .face {
    width: 100%;
    height: 300px;
    transition: 0.5s;
}

.project-container .card .face.face1 {
    position: relative;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);
}

.project-container .card:hover .face.face1 {
    background: #000;
    transform: translateY(0);
}

.project-container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.project-container .card .face.face1 .content img {
    max-width: 200px;
    margin-top: 15px;
}

.project-container .card .face.face1 .content h3 {
    margin-top: -5px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-family: "Chakra Petch", sans-serif;
}

.project-container .card .face.face2 {
    position: relative;
    background: #a9ff27;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-150px);
}

.project-container .card:hover .face.face2 {
    transform: translateY(0);
}

.project-container .card .face.face2 .content p {
    margin: 10px;
    padding: 0;
    font-size: 1.2em;
    color: black;
    font-family: "Chakra Petch", sans-serif;
}

.lang-used {
    display: flex;
    color: black;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.lang {
    border: solid 1px black;
    padding: 10px;
    border-radius: 30%;
    font-size: 18px;
    background-color: white;
}

/* Media Queries */
@media (max-width: 1024px) {
    .project-container {
        justify-content: center;
        gap: 15px;
        margin-top: 10%; 
    }

    .project-container .card {
        flex: 1 0 45%; 
    }
}

@media (max-width: 768px) {
    .project-container {
        justify-content: center;
        gap: 10px;
        margin-top: 15%; 
    }

    .project-container .card {
        flex: 1 0 100%; 
    }

    .project-container .card .face.face2 {
        padding: 10px; 
    }

    .lang-used {
        flex-direction: column; 
    }
}

@media (max-width: 480px) {
    .project-container {
        gap: 5px;
        margin-top: 5%; 
    }

    .project-container .card {
        flex: 1 0 100%; 
    }

    .project-container .card .face.face2 {
        padding: 10px; 
    }

    .lang-used {
        gap: 5px;
    }

    .lang {
        font-size: 14px; 
    }
}
/* --------------------------------------------------- */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    z-index: 9999;
}

.contact-container .email,
.contact-container .linkedin {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.contact-container img {
    width: 50px;
    height: 40px;
}

.contact-container h2 {
    margin: 0;
    font-size: 1.4em;
    color: #fff;
    word-break: break-all;
    font-family: "Chakra Petch", sans-serif;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        padding: 15px;
        gap: 15px;
    }

    .contact-container .email,
    .contact-container .linkedin {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-container img {
        width: 40px;
        height: 32px;
    }

    .contact-container h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .contact-container {
        padding: 10px;
        gap: 10px;
    }

    .contact-container .email,
    .contact-container .linkedin {
        gap: 10px;
    }

    .contact-container img {
        width: 30px;
        height: 24px;
    }

    .contact-container h2 {
        font-size: 1em;
    }
}
/* ---------------------------- */




/* Horizontal Scrolling Banner */
#scroll-banner1 {
    overflow: hidden;
    background: #a9ff27;
    padding: 15px 0;
    transform: rotate(-5deg);
    position: absolute;
    top: 70%;
    left: -20%;
    width: 150%;
    height: 50px;
}

.scroll-container1 {
    /* display: flex; */
    width: 150%;
    animation: scroll-horizontal1 10s linear infinite;
}

.scroll-item1 {
    display: inline-block;
    color: #333;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    min-width: 180px;
    font-family: "Fira Mono", monospace;
}

@keyframes scroll-horizontal1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

@keyframes scroll-horizontal2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

@keyframes scroll-horizontal3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}


#scroll-banner2 {
    overflow: hidden;
    background: #000000;
    padding: 15px 0;
    transform: rotate(2deg);
    position: absolute;
    top: 80%;
    right: -20%;
    width: 150%;
    height: 50px;
    z-index: 0;
    border: solid 1px #a9ff27;
}

.scroll-container2 {
    display: flex;
    width: 150%;
    animation: scroll-horizontal2 10s linear infinite;
}

.scroll-item2 {
    display: flex;
    color: #fff;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    min-width: 180px;
    font-family: r"Fira Mono", monospace;
}

#scroll-banner3 {
    overflow: hidden;
    background: #a9ff27;
    padding: 15px 0;
    position: absolute;
    top: 2%;
    right: -20%;
    width: 180%;
    height: 15px;
    z-index: 0;
}

.scroll-container3 {
    display: flex;
    width: 100%;
    animation: scroll-horizontal3 5s linear infinite;
}

.scroll-item3 {
    display: inline-block;
    color: #000;
    border-radius: 10px;
    font-size:18px;
    text-align: center;
    min-width: 180px;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
}

#scroll-banner4 {
    overflow: hidden;
    background: #000;
    padding: 15px 0;
    position: absolute;
    transform: rotate(2deg);
    top: 3%;
    right: -20%;
    width: 180%;
    height: 20px;
    z-index: 0;
    border: solid 1px #a9ff27;
    /* border: solid 2px #a9ff27; */
}

.scroll-container4 {
    /* display: flex; */
    width: 200%;
    animation: scroll-horizontal3 10s linear infinite;
}

.scroll-item4 {
    display: inline-block;
    color: #a9ff27;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    min-width: 180px;
    font-family: r"Fira Mono", monospace;
}


